/*FOOTER*/
address{
    font-size: 1.5rem;
}
footer{
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
    background-color: #eee;
}
footer section{
    width: 33.33%;
}
footer h5{
    color: #000;
    font-size: 1.6rem;
    text-decoration: underline;
}
footer li{
    font-size: 1.3rem;
}
footer li a{
   color: #000;
   font-size: 1.3rem;
   text-decoration: none;
}
footer li a:hover{
    color: blue;
    transition: 0.3s;
    text-decoration: underline;
}
footer ul{
    list-style-type: none;
}

@media (min-width: 36em){
    footer h5{
        color: #000;
        font-size: 2rem;
        text-decoration: underline;
    }
        footer li{
        font-size: 1.7rem;
    }
        footer li a{
        color: #000;
        font-size: 1.7rem;
        text-decoration: none;
     }
}