header{
    background-image: url(../images/header_home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
    max-width: 152em;
    min-width: 32rem;

}
header a{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    text-decoration: none;
    transition: 0.3s;
}
header a::before{
    content: "| ";
    color: #fff;
}
header a:hover{
    color: #e811b0;
}
header div{
    display: flex;
    flex-flow: row  wrap;
    justify-content: center;
}
header h2{
    color: #fff;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
}
#gegevens{
    display: flex;
    flex-flow: row nowrap;
}
#logo{
    max-width: 15rem;
    min-width: 10rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.logo::before{
    content: "";
}
/*MAIN*/
.Info{
    display: flex;
    flex-flow: row nowrap;
}
.Info div{
    padding-top: 1rem;
    padding-left: 3rem;
    width: 50%;
}
.Info h4{
    font-size: 1.25rem;
}
.Info li{
    font-size: 1.25rem;
}
.Info ul{
    list-style-type: disc;
}
#transformaties div{
    display: flex;
    flex-flow: row nowrap;
}
#transformaties h3{
    text-align: center;
    font-size: 2rem;
}
#transformaties .fotoleft{
    padding:0rem 0.5rem;
    padding-top: 0.5rem;
    width: 50%;
}
#transformaties .fotoright{
    padding:0rem 0.5rem;
    padding-top: 0.5rem;
    width: 50%;
}
.voorbeeld{
    max-width: 50%;
}


@media (min-width: 40.4375em){
    header div{
        display: flex;
        flex-flow: row  nowrap;
        justify-content: space-between
    }
    header nav{
        margin-right: 2rem;
        padding-top: 2rem;
    }
    header a{
        color: #fff;
        font-size: 2rem;
        margin-left: 1rem;
        text-decoration: none;
        transition: 0.3s;
    }
    #logo{
        max-width: 15rem;
        min-width: 10rem;
        padding: 2rem;
    }
    #transformaties h3{
        text-align: center;
        font-size: 4rem;
    }
}
@media (min-width: 44.5em){
    .Info h4{
        font-size: 2rem;
    }
    .Info li{
        font-size: 2rem;
    }
    .Info ul{
        list-style-type: none;
    }
}
@media (min-width: 60.5em){
    .Info div{
        padding-top: 3rem;
        padding-left: 5rem;
        width: 50%;
    }
    .Info h4{
        font-size: 3rem;
    }
    .Info li{
        font-size: 3rem;
    }
    .Info ul{
        list-style-type: none;
    }
    
}