header{
    background-image: url(../images/header_Contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
    max-width: 152em;
    min-width: 32rem;

}
header a{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    text-decoration: none;
    transition: 0.3s;
}
header a::before{
    content: "| ";
    color: #fff;
}
header a:hover{
    color: #e811b0;
}
header div{
    display: flex;
    flex-flow: row  wrap;
    justify-content: center;
}
header h2{
    color: #fff;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
}
#gegevens{
    display: flex;
    flex-flow: row nowrap;
}
#logo{
    max-width: 15rem;
    min-width: 10rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.logo::before{
    content: "";
}
/*MAIN*/
.adres{
    font-size: 1.5rem;
}
.adressen{
    width:33.33%;
}
#cb{
    width: 33.33%;
}
#choose{
    display: flex;
    flex-flow: row wrap;
}
h3{
    font-size: 2.5rem;
    text-decoration: underline;
    padding-top: 1rem;
}
#gegevens{
    padding: 1rem;
}
input{
    margin: 0.5rem 0.5rem;
}
label{
    font-size: 1.25rem;
}
main{
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 1rem;
}
.title{
    font-size: 2rem;
    font-weight: bolder;

}


/*@media*/
@media (min-width: 25.75em){
    label{
        font-size: 1.5rem;
    }
}
@media (min-width: 40.4375em){
    .adressen{
        width:100%;
    }
    header div{
        display: flex;
        flex-flow: row  nowrap;
        justify-content: space-between
    }
    header nav{
        margin-right: 2rem;
        padding-top: 2rem;
    }
    header a{
        color: #fff;
        font-size: 2rem;
        margin-left: 1rem;
        text-decoration: none;
        transition: 0.3s;
    }
    #logo{
        max-width: 15rem;
        min-width: 10rem;
        padding: 2rem;
    }
}
@media (min-width: 54.375em){
    main{
        display: flex;
        flex-flow: row nowrap;
        padding-bottom: 1rem;
    }
    h3{
        font-size: 2rem;
        text-decoration: underline;
        padding-top: 1rem;
    }
    #gegevens{
        display: flex;
        flex-flow: column nowrap;
        width: 30%;
    }
    #formulier{
        width: 70%;
    }
    .adres{
        font-size: 2rem;
    }
}