header{
    background-image: url(../images/header_nieuws.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
    max-width: 152em;
    min-width: 32rem;
}
header a{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    text-decoration: none;
    transition: 0.3s;
}
header a::before{
    content: "| ";
    color: #fff;
}
header a:hover{
    color: #e811b0;
}
header div{
    display: flex;
    flex-flow: row  wrap;
    justify-content: center;
}
header h2{
    color: #fff;
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
}
#gegevens{
    display: flex;
    flex-flow: row nowrap;
}
#logo{
    max-width: 15rem;
    min-width: 10rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.logo::before{
    content: "";
}
/*MAIN*/
.fotonieuws{
    max-width: 100%;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#news{
    border: 1px solid #000;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}
h4{
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 0.5rem;

}
p{
    text-align: center;
    font-size: 0.75rem;
}
@media (min-width: 28em){
    h4{
        text-align: center;
        font-size: 1rem;
        padding-bottom: 0.5rem;
    
    }
    p{
        text-align: center;
        font-size: 1rem;
    }
}
@media (min-width: 40.4375em){
    header div{
        display: flex;
        flex-flow: row  nowrap;
        justify-content: space-between
    }
    header nav{
        margin-right: 2rem;
        padding-top: 2rem;
    }
    header a{
        color: #fff;
        font-size: 2rem;
        margin-left: 1rem;
        text-decoration: none;
        transition: 0.3s;
    }
    #logo{
        max-width: 15rem;
        min-width: 10rem;
        padding: 2rem;
    }
}
@media (min-width: 42.5em){
    h4{
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}
@media(min-width: 56.5em){
    #news{
        border: 1px solid #000;
        margin: 1rem;
        padding: 1rem;
        width: 30%;
    }
}